body {
    background-color: #fafafa;
    margin: 0 20px;
}

h1 {
    font-size: 2.3em;
}

.hamburger_menu div {
    background-color: #1e364e;
}

#post_title {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
}

#post_title:focus {
    border: 1px solid #428ca2;
}

.mce-tinymce.mce-container.mce-panel {
    box-sizing: border-box;
}

/* the tinyMCE word counter */
.mce-wordcount.mce-widget.mce-label.mce-flow-layout-item {
    margin-right: 10px;
}

.post_error {
    display: inline-block;
    border: 1px solid #ba4343;
    padding: 10px 6px;
    border-radius: 3px;
    color: #ba4343;
    margin-top: 8px;
    margin-bottom: 15px;
    background-color: #ffd9d9;
}


/* tablets and smartphones */
@media all and (max-width: 768px) {
    h1 {
        font-size: 2em;
        margin-top: 15px;
        padding-right: 58px;
    }
}

/* smartphones */
@media all and (max-width: 425px) {
    body {
        margin: 0 10px;
        margin-top: 10px;
    }
    
    h1 {
        font-size: 1.8em;
        padding-right: 50px;
        margin-top: 5px;
    }
}
