html,
body {
    height: 100%;
}

body {
    background-color: #e6e6e6;
}

#home {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: radial-gradient(circle, rgba(38, 49, 69, 0.7) 10%, rgba(38, 49, 69, 0.8) 100%), url(../images/alaska-inside-passage.jpg);
    background-attachment: fixed;
}

.hamburger_menu div {
    transition-duration: 0.3s;
}

.title {
    color: #fff;
    font-size: 3.5em;
    font-weight: 100;
    margin: 0;
    font-family: var(--roboto);
    padding: 0 6px;
}

#home h2.title {
    font-size: 1.8em;
}

.absolute_center {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.container_bottom {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

#home .arrow {
    margin: 0 auto;
}

.arrow {
    height: var(--arrow-width);
    width: var(--arrow-width);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.arrow.bottom {
    transform: rotate(45deg);
    border-bottom-right-radius: 3px;
    position: relative;
    animation: arrow_animation 0.8s infinite;
    cursor: pointer;
}

@keyframes arrow_animation {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 0;
    }
}

#blog {
    padding: 30px 50px 0 50px;
}

#blog article {
    padding-bottom: 15px;
    border-bottom: 1px solid #c9c9c9;
    color: #2b343d;
    font-size: 1.1em;
}

#blog article:last-child {
    border-bottom: 0;
}

#blog article h2 {
    font-size: 2em;
}

#blog article:first-child h2 {
    margin-top: 0;
}

a {
    transition: 0.3s;
}

/* breakpoint for footer */
@media all and (max-width: 996px) {
    footer nav {
        margin: auto;
    }

    footer ul {
        margin-bottom: 0;
    }

    footer p {
        margin: 10px auto;
        text-align: center;
    }
}

/* tablets and smartphones */
@media all and (max-width: 768px) {
    .title {
        font-size: 3em;
    }

    #home h2.title {
        font-size: 1.5em;
    }

    #blog {
        padding: 20px 15px 0 15px;
    }

    #blog article h2 {
        font-size: 1.8em;
        margin-bottom: 15px;
        line-height: 1.1;
    }
}

/* smartphones */
@media all and (max-width: 425px) {
    .title {
        font-size: 2.8em;
    }

    #home h2.title {
        font-size: 1.4em;
    }

    #blog article h2 {
        font-size: 1.5em;
    }

    .italic {
        margin: 3px 0;
    }

    .italic span {
        display: none;
    }
}
